body {
    animation: fadein ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
.main-up {
    animation: transform-up 0.7s forwards;
}

.main-down {
    animation: transform-down 0.7s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes transform-up {
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(-300%);
    }
}

@keyframes transform-down {
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(300%);
    }
}