*{
  margin: 0;
  padding: 0;
  font-family: 'Mochiy Pop P One', sans-serif;
  
  
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #171819;
}

/*Background and navbar overflow-x: hidden;*/
 
.header {
  min-height: 100vh;
  width: 100%;
  background-image: #171819,
  url(images/banner1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  
 
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  
}

nav img{
  width: 100px;

}

.nav-links{
  flex: 1;
  text-align: right;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
 color: #F7F7F7;
 text-decoration: none;
 font-size: 13px; 
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #0134aa;
  display: block;
  margin: auto;
  transition: 0.5s;
}


.nav-links ul li:hover::after{
  width: 100%;

}

.text-box {
  width: 90%;
  color: #F7F7F7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.text-box h2{
  font-size: 42px;
 color: #0134aa

}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #F7F7F7;
}

.button-uwu{
  display: inline-block;
  text-decoration: none;
  color: #F7F7F7;
  border: 1px solid #F7F7F7;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;


}

.button-uwu:hover {
  border: 1px solid #0134aa;
  color: #0134aa;
  transition: 1s;

}

nav .material-icons{
  display: none;
}

/*Background and navbar*/

/*Phone support*/

@media(max-width: 700px){
  .text-box {
    font-size: 20px;

  }

  .nav-links ul li{
    display: block;
  }



  nav .material-icons{
    display: block;
    color: #F7F7F7;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

  }

  .nav-links ul{
    padding: 30px;

  

}

.nav-links {
  position: absolute;
  background: #0134aa;
  height: 100vh;
  width: 200px;
  right: -200px;
  top: 0;
  text-align: left;
  z-index: 2;
  transition: 0.5s;
}

}


/* DropDown button*/
.dropbtn {
   background-color: #0134aa;
  color: white;
  padding: 16px;
 
  border: none;
  transition: 0.5s;
  border-radius: 10px;
  
  
}

.dropbtn a{
  text-decoration: none;
  color: #F7F7F7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FFBC97;
border-radius: 10px;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}

.info {
  padding: 70px 0;
  width: 100%;
}

.title-text {
  text-align: center;
  padding-bottom: 70px;
  
}

.title-text p{
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #0134aa; 
  position: relative;
  z-index: 1;
  display: inline-block;
  
  
}



.title-text h3{
  font-size: 25px;
  

}


.info-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

}

.features{
  
}

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

/* variables */
:root {
	/* Color */
	--main-color: #2c33ff;
	--secondary-color: #fff;


	/* Font-size */
	--font-size-main-title: 6rem;
	--font-size-secondary-title: 2.5rem;
	--font-size-section-title: 3rem;
	--font-size-project-title: 2em;
	--font-size-text: 1.2rem;
	--font-size-btn: 1.6rem;
} 

* {
	box-sizing: border-box;
}


@media (max-width:850px)  {
  .project-center {
    margin-bottom: 150px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
  }
  
  .projects-card-container {
      justify-content: center;
  }
  
  .projects-card {
    position: relative;
    width: 25em;
    height: 30em;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    padding: 1em;
    background-position: center center;
    background-size: cover;
    transition: 1s;
    overflow-y: hidden;
  }
  
  .project-info-container {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    padding: 0 1em 1em 1em;
    overflow: hidden;
  }
  
  .project-title {
    font-size: var(--font-size-project-title);
    color: var(--main-color);
    font-weight: 800;
    text-transform: uppercase;
    margin: 1em 0 .3em 0;
    transition: .3s;
  }
  
  .project-load-bar {
    width: 0;
    height: 3px;
    background: var(--main-color);
    margin: 0;
  }
  
  .projects-card:hover {
    transform: scale(1.05);
  }
  
  .projects-card:hover .project-info-container {
    top: 48%;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    background: linear-gradient(hsl(0 0% 0% / 0),hsl(20 0% 0% / 0.3) 20%,hsl(0 0% 0% / 1));
  }
  
  .project-short-desc, .project-btn{
    font-size: var(--font-size-text);
    color: #fff;
    margin: 1em 0 0 0;
    display: none;
    opacity: 0;
    font-weight: 200;
  }
  
  .project-btn {
    max-width: 10em;
    padding: .7em 0;
    margin-bottom: 15px;
    display: none;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background: var(--main-color);
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
  }
  
  .project-btn a{
    color: #fff;
    font-weight: 400;
    justify-self: center;
    text-decoration: none;
  }
  
  .project-btn:hover {
    transform: scale(1.05);
  }
  
  
  .projects-card:hover .project-title {
    color: #fff;
  }
  
  .projects-card:hover .project-load-bar {
    display: flex;
    transition: opacity 1s ease;
    animation: project-load-animation 2s ease .1s forwards;
  }
  
  .projects-card:hover .project-short-desc {
    display: flex;
    transition: opacity 1s ease;
    animation: project-infos-animation 1s ease .8s forwards;
  }
  
  .projects-card:hover .project-btn{
    display: flex;
    transition: opacity 1s ease;
    animation: project-infos-animation 1s ease .8s forwards;
  }
  
  
  @keyframes project-load-animation {
    0% {width: 0;}
    15% {width: 0vw;}
    25% {width: 0vw;}
    50% {width: 35vw;}
    65% {width: 50vw;}
    75% {width: 75vw;}
    100% {width: 100vw;}
  }
  
  
  @keyframes project-infos-animation {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}


@media (min-width:850px) {
  .project-center {
    margin-bottom: 150px;
    margin-left:15px;
    margin-right:15px;
    width: 100%;
  }
  
  .projects-card-container {
      display: flex;
      justify-content: center;
  }
  
  .projects-card {
    position: relative;
    width: 25em;
    height: 30em;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    padding: 1em;
    background-position: center center;
    background-size: cover;
    transition: 1s;
    overflow-y: hidden;
  }
  
  .project-info-container {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    padding: 0 1em 1em 1em;
    overflow: hidden;
  }
  
  .project-title {
    font-size: var(--font-size-project-title);
    color: var(--main-color);
    font-weight: 800;
    text-transform: uppercase;
    margin: 1em 0 .3em 0;
    transition: .3s;
  }
  
  .project-load-bar {
    width: 0;
    height: 3px;
    background: var(--main-color);
    margin: 0;
  }
  
  .projects-card:hover {
    transform: scale(1.05);
  }
  
  .projects-card:hover .project-info-container {
    top: 48%;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    background: linear-gradient(hsl(0 0% 0% / 0),hsl(20 0% 0% / 0.3) 20%,hsl(0 0% 0% / 1));
  }
  
  .project-short-desc, .project-btn{
    font-size: var(--font-size-text);
    color: #fff;
    margin: 1em 0 0 0;
    display: none;
    opacity: 0;
    font-weight: 200;
  }
  
  .project-btn {
    max-width: 10em;
    padding: .7em 0;
    margin-bottom: 15px;
    display: none;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background: var(--main-color);
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
  }
  
  .project-btn a{
    color: #fff;
    font-weight: 400;
    justify-self: center;
    text-decoration: none;
  }
  
  .project-btn:hover {
    transform: scale(1.05);
  }
  
  
  .projects-card:hover .project-title {
    color: #fff;
  }
  
  .projects-card:hover .project-load-bar {
    display: flex;
    transition: opacity 1s ease;
    animation: project-load-animation 2s ease .1s forwards;
  }
  
  .projects-card:hover .project-short-desc {
    display: flex;
    transition: opacity 1s ease;
    animation: project-infos-animation 1s ease .8s forwards;
  }
  
  .projects-card:hover .project-btn{
    display: flex;
    transition: opacity 1s ease;
    animation: project-infos-animation 1s ease .8s forwards;
  }
  
  
  @keyframes project-load-animation {
    0% {width: 0;}
    15% {width: 0vw;}
    25% {width: 0vw;}
    50% {width: 35vw;}
    65% {width: 50vw;}
    75% {width: 75vw;}
    100% {width: 100vw;}
  }
  
  
  @keyframes project-infos-animation {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

.info-img {
  flex-basis: 50%;
  margin: auto;
  justify-content: flex-start;
  

}

.info-img img{
  width: 70%;
  border-radius: 10px;
  margin: auto;
}

.features h2{
  margin-bottom: 10px;
  font-weight: 100;
  color: #0134aa;

}

.features-desc {
  margin-bottom: 40px;
  
}

.feature-icon .material-icons{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #0134aa;
  border: 3px solid black;
}

.feature-text p{
  padding: 0 20px;
  text-align: initial;
  

}
